<!-- <h3><%= @curso %></h3>

</center> -->
<br>
<center>
  <%= form_for :post , :url => { :action => :update   }  , :method => :put do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title , {:value => @curso.title } %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description , {:value => @curso.description } %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
</center>
