<center>Gerson Revatta
  <%= form_for :post ,  :url => { :action => :create }  ,  html: { multipart: true }  do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  
  <p>
    <%= f.file_field :avatar , :id => 'imagen' %>
  </p>
  <p>
    <div id="imagePreview"></div>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<br>
</center>

<center>
<h3> List </h3>
  <% @Course.each do |i| %>
    <p><%= i.title %></p>
    <p>
    <%= image_tag i.avatar.url(:thumb) %>
    </p>
    |<%= link_to "show",{ :action => :show, :id => i.id }  %>
    | Editar
    
    | 
    <%= link_to "Eliminar",{ :action => :destroy, :id => i.id } , :method => :delete %>
  <% end %>

</center>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
<script>
  (function(){
    function filePreview(input){
      if(input.files && input.files[0]){
        var reader = new FileReader();
        reader.onload = function(e){
          $('#imagePreview').html("<img src='"+e.target.result+"' />");
        }
        reader.readAsDataURL(input.files[0]);
      }

    }
    $('#imagen').change(function(){
      filePreview(this);
    });
  })();
</script>
         